@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat&display=swap');

:root{
    --vertical-space: 2rem;
    --horizontal-space: 3rem;
    --bg-color: #252530;
}

body{
    font-size: 18px;
    color: white;
    background-color: var(--bg-color);
    background-image: url("../images/black-thread.png");
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;

    display: grid;
    
    grid-template-areas: "head head"
                         "nav nav"
                         "main main"
                         "foot foot";

    grid-template-columns: auto 4fr;
    grid-template-rows: auto auto 1fr auto;
}

@media screen and (min-width: 24em) {
    body{
        grid-template-areas: "head nav"
                             "main main"
                             "foot foot";
        grid-template-rows: auto 1fr auto;
    }
}

body > * {
    padding-left: var(--horizontal-space);
}

body#about img {height: 18em;}

p {
    max-width: 50em;
}

a{
    color: white;
}

h1 {
    text-transform: uppercase;
}

h1, h2, h3 {
    line-height: 1.2;
    font-family: 'Archivo Black', sans-serif;
}

body > header {
    grid-area: head;
}

body > nav {
    grid-area: nav;
    margin-top: 0;
    padding-left: 0;
}

body > nav ul {
    list-style-type: none;
}

@media screen and (min-width: 24em) {
    body > nav {
        grid-area: nav;
        margin-top: 1.2em;
    }

    body > nav ul li{
        float: left;
    }
}

body > nav ul li a{
    padding: 1em;
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
}

@media screen and (min-width: 24em) {
    body > nav ul li a{
        padding: 1em;
        font-family: 'Archivo Black', sans-serif;
        text-transform: uppercase;
        transition: font-size 0.5s;
    }

    body > nav ul li a:hover{
        font-size: 21px;
    }
}

body > main {
    grid-area: main;
}

body > footer {
    grid-area: foot;
}

header, footer{
    padding-top: var(--vertical-space) ;
    padding-bottom: var(--vertical-space);
}

header h1, footer h1 {
    margin: 0;
}

body#portfolio ul#portfolioItems{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

@media screen and (min-width: 24em) {
    body#portfolio ul#portfolioItems li{
        flex-basis: 48%;
        padding-right: 2%;
        max-height: 50em;
    }

    body#portfolio ul#portfolioItems li a{
        transition: font-size 0.5s;
    }

    body#portfolio ul#portfolioItems li a:hover{
        font-size: 32px;
    }

    body#portfolio ul#portfolioItems li img{
        max-height: 40em;
    }
}

body#portfolio ul#portfolioItems li img{
    max-width: 100%;
}

body > nav ul li a{
    padding: 1em;
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
}

#resumeNav {
    list-style-type: none;
}

body#resume ul#resumeNav li a{
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
}

@media screen and (min-width: 24em) {
    body#resume ul#resumeNav li a{
        font-family: 'Archivo Black', sans-serif;
        text-transform: uppercase;
        transition: font-size 0.5s;
    }

    body#resume ul#resumeNav li a:hover{
        font-size: 21px;
    }
}

.scroll-target{
    scroll-margin: 20px;
}